### Remember the modulo operator (%) !
`x % y` gives the remainder if `x` is divided by `y`. So, for instance `x % 2` will be `0` when x is even, and `1` when x is odd

In [1]:
# Make a list of numbers up to 100 that are divisible by three.
list_numbs = [x for x in range(101) if x%3 ==0]
list_numbs

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [2]:
# Make a list of numbers up to 100 that are divisible by three OR divisible by five
list_numbs2 = [x for x in range(101) if x%3 or x%5 ==0]
list_numbs2

[0,
 1,
 2,
 4,
 5,
 7,
 8,
 10,
 11,
 13,
 14,
 15,
 16,
 17,
 19,
 20,
 22,
 23,
 25,
 26,
 28,
 29,
 30,
 31,
 32,
 34,
 35,
 37,
 38,
 40,
 41,
 43,
 44,
 45,
 46,
 47,
 49,
 50,
 52,
 53,
 55,
 56,
 58,
 59,
 60,
 61,
 62,
 64,
 65,
 67,
 68,
 70,
 71,
 73,
 74,
 75,
 76,
 77,
 79,
 80,
 82,
 83,
 85,
 86,
 88,
 89,
 90,
 91,
 92,
 94,
 95,
 97,
 98,
 100]

In [3]:
# Use conditional list comprehensions to create a list of all the pet dog names.
pets = [{
    'name': 'Fido',
    'age': 4,
    'type': 'dog'
}, {
    'name': 'Rex',
    'age': 2,
    'type': 'dog'
}, {
    'name': 'Puddles',
    'age': 7,
    'type': 'wombat'
}, {
    'name': 'Tuna',
    'age': 6,
    'type': 'cat'
}, {
    'name': 'Springer',
    'age': 5,
    'type': 'dog'
}]

dog_names = [pet['name'] for pet in pets if pet['type'] == 'dog']
dog_names

['Fido', 'Rex', 'Springer']

In [4]:
# Use a list comprehension to create a list containing three items; a "customer_id", 
# "name", and "email" for each customer in the customers list.  
customers = ["400021,Adrianna Raysor,adrianna.raysor@360.cn",
"400064,Amberly Kerfie,a.kerfie@instagram.com",
"400042,Angelique Kleiner,a.klein@google.com",
"400059,Arleen Bergman,arleen.bergman@friendfeed.com",
"400006,Arlinda McBrayer,amcbrayer@scribd.com",
"400014,Astrid Brewster,a.brewster@homestead.com",
"400027,Ayanna Filippelli,ayanna@reddit.com"]

split_list = [x.split(",") for x in customers]
split_list

[['400021', 'Adrianna Raysor', 'adrianna.raysor@360.cn'],
 ['400064', 'Amberly Kerfie', 'a.kerfie@instagram.com'],
 ['400042', 'Angelique Kleiner', 'a.klein@google.com'],
 ['400059', 'Arleen Bergman', 'arleen.bergman@friendfeed.com'],
 ['400006', 'Arlinda McBrayer', 'amcbrayer@scribd.com'],
 ['400014', 'Astrid Brewster', 'a.brewster@homestead.com'],
 ['400027', 'Ayanna Filippelli', 'ayanna@reddit.com']]

In [5]:
# Use a list comprehension to extract the "customer_id" from each customer in the customers list 
# and then convert the "customer_id" to an integer.

cust_id = [int(x.split(",")[0]) for x in customers]
cust_id

[400021, 400064, 400042, 400059, 400006, 400014, 400027]

In [6]:
# Use a list comprehension to split each customer "name" into a first and last name. 
cust_name = [x.split(",")[1].split(" ") for x in customers]
cust_name

[['Adrianna', 'Raysor'],
 ['Amberly', 'Kerfie'],
 ['Angelique', 'Kleiner'],
 ['Arleen', 'Bergman'],
 ['Arlinda', 'McBrayer'],
 ['Astrid', 'Brewster'],
 ['Ayanna', 'Filippelli']]